.App {
  padding: 30px;
  display: flex;
	flex-flow: row wrap;
	text-align: initial;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
	outline: none;
}

.error_message {
  color: red;
}

.active_filter {
  background-color: aquamarine;
}

.is_done {
  opacity: 0.5;
}